.clean {
  .title {
    font-size 1.5em
    margin 1em 0
    strong {
      color rgba(255, 0, 0, 0.8)
      padding-right 1em
    }
  }
  .clean-list {
    font-size 0
    text-align center
    display flex
    .clean-item {
      background #FFFFFF
      padding 0 5%
      width 28%
      flex 1
      font-size 1rem
      text-align center
      img {
        width 100%
      }
      span {
        display block
      }
      button {
        background-image url(../img/icon/background.png)
        background-repeat no-repeat
        navbutton_home_hovered
      }
      // 写一下具体的样式呗
      .name {

      }
    }
  }
}