body {
    background: #fff;
}

body .nav img {  display:inline-block;
    float: left;
margin-top: .8%;}
.header .nav .nav-list .nav-item {
    color: dimgrey;
    font-size: .8rem;
    display: inline-block;
    height: 114px;
    line-height:114px;
    width: calc(100% /8);
}

body .clean .title {
    font-size: 1.5em;
    margin: 1em 0;
}

body .clean .title strong {
    color: rgba(255, 0, 0, 0.8);
    padding-right: 1em
}

body .clean .clean-list {
    font-size: 0;
    text-align: center;
    display: flex;
}

body .clean .clean-list .clean-item {
    background: #f5f5f5;
    padding: 0 4% 5% 4%;
    width: 28%;
    flex: 1;
    font-size: 1rem;
}

body .clean .clean-list .clean-item img {
    width: 100%
}

body .clean .clean-list .clean-item .clean-word {
    padding: 30px 0;
    background: #fff;
}

body .clean .clean-list .clean-item .clean-word span {
    display: block;
    margin-bottom: 10px;
}

body .clean .clean-list .clean-item .clean-word span .red {
    color: #f00
}

body .clean .clean-list .clean-item .clean-word button {
    width: 200px;
    height: 40px;
    margin-top: 20px
}

body .clean .clean-list .clean-item .clean-word .name {
    font-size: 1.5rem
}

body .clean .clean-list .clean-item .clean-word .desc {
    color: #999;
    font-size: 1rem;
    text-align: start
}
