body{
  background white

  .nav{
    display flex
    align-items inherit

  }
.clean {
  .title {
    font-size 1.5em
    margin 1em 0
    strong {
      color rgba(255, 0, 0, 0.8)
      padding-right 1em
    }
  }
  .clean-list {
    font-size 0
    text-align center
    display flex
    .clean-item {
      background #F5F5F5
      padding 0 4% 5% 4%
      width 28%
      flex 1
      font-size 1rem
      img {
          width 100%
       }
      .clean-word
      {
        padding 30px 0
        background white
        span {
          display block
          margin-bottom 10px
          red{
            color red
          }
        }
        button {
         width 200px
         height 40px
         margin-top 20px
        }
      // 写一下具体的样式呗
        .name {
          font-size 1.5rem
        }
        .desc{
          color #999999
          font-size 1rem
          text-align start
        }
      }

    }
  }
}}