//use stylus
.container {
  width 1200px
  margin 0 auto
  .header {
    display flex
    min-width 1200px
  //height 200px
    .logo {
      flex 1
      img {
        display inline-block
      }
      h2 {
        display inline-block
      }
    }
    .nav {
      flex 1
      height inherit
      .nav-list {
        text-align center
        font-size 0
        .nav-item {
          font-size 1rem
          display inline-block
          height 87px
          line-height 87px
          width calc(100% / 6)
          float left
          padding-top 3%
        }
      }
    }
  }
  .content {
  //background: #0099ff
    display block
    .banner {
      margin 0 auto
      .boxID {
        .pic {
          width: inherit;
          height: 340px;
        }
      }
    }
    .all-serve-wrapper {
      background-color rgba(2, 5, 7, 0.05)
    .serve {
      width 100%
      margin-top 1em
      .serve-title{
        display: flex;
        align-items: flex-start;
        font-size: 20px;
        font-weight: bold;
      }
      .serve-list {
        display flex
        justify-content: space-around;
        .serve-item {
          flex 1
          text-align center
        }
      }
    }
    .hot-serve-bar {
      margin-top 1em
      strong {
        font-size 1.1em
        display inline-block
        font-weight 700
      }
      .hot-item {
        display: inline-block;
        border: 1px solid #dfe2e8;
        border-radius: 32px;
        height: 32px;
        line-height: 32px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 12px;
        position: relative;
        color: #525a66;
        cursor pointer
        &:hover {
          border: 1px solid rgb(255, 0, 0);
        }

      }
          padding-right: 0.5em;
       .img-wrapper{
         font-color red
       }
        }
      }
    }
      .serve-title{
        display: flex;
        align-items: flex-start;
        font-size: 20px;
        font-weight: bold;
      }


}

.large-container {
  width 100%
  background #f5f5f5
  .large-content {
    width 1200px
    margin 0 auto
    .serve-show {
      // this is the show common style
      .slider-wrapper {
        display: flex;
        justify-content: space-between;
      }
      h2 {
        display: block;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: .5em;
      }
      .show-common {

        margin-top 1em
        padding-top 2em
        background rgb(245, 245, 245)
        .title {
          font-size 1.5em
          strong {
            color rgba(255, 0, 0, 0.8)
            padding-right 1em
          }
        }
        .clean {

          .clean-list {
            font-size 0
            text-align center
            .clean-item {
              display inline-block
              font-size 1rem
              text-align center
            }
          }
        }
        .care-baby {

        }
        .house {

        }
        .girls {

        }
        .trans {

        }
      }
      .events {

      }
      .links {

      }

      .footer {
        .about-list {

        }
      }
    }
  }}

