.container {
  .header {
    display flex
    min-width 1200px
    height 200px
    .logo {
      flex 1
    }
    .nav {
      flex 1
    }
  }
  .content {
    background: #0099ff
    display block
    .banner{
      .boxID {
        .pic {
          width 560px
          height 300px
        }
      }
    }
  }
  .footer {

  }
}