.container {
  width: 1200px;
  margin: 0 auto;
}
.container .header {
  display: flex;
  min-width: 1200px;
}
.container .header .logo {
  flex: 1;
}
.container .header .logo img {
  display: inline-block;
}
.container .header .logo h2 {
  display: inline-block;
}
.container .header .nav {
  flex: 1;
  height: inherit;
}
.container .header .nav .nav-list {
  text-align: center;
  font-size: 0;
}
.container .header .nav .nav-list .nav-item {
  font-size: 1rem;
  display: inline-block;
  height: 87px;
  line-height: 87px;
  width: calc(100% / 6);
}
.container .content {
  display: block;
}
.container .content .banner {
  margin: 0 auto;
}
.container .content .banner .boxID .pic {
  width: inherit;
  height: 340px;
}
.container .content .serve {
  width: 100%;
  margin-top: 1em;
}
.container .content .serve .serve-list {
  display: flex;
}
.container .content .serve .serve-list .serve-item {
  flex: 1;
  text-align: center;
}
.container .content .hot-serve-bar {
  margin-top: 1em;
}
.container .content .hot-serve-bar strong {
  font-size: 1.1em;
  display: inline-block;
  font-weight: 700;
}
.container .content .hot-serve-bar .hot-item {
  display: inline-block;
  border: 1px solid #dfe2e8;
  border-radius: 32px;
  height: 32px;
  line-height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 12px;
  position: relative;
  color: #525a66;
  cursor: pointer;
}
.container .content .hot-serve-bar .hot-item:hover {
  border: 1px solid #f00;
}
.large-container {
  width: 100%;
  background: #f5f5f5;
}
.large-container .large-content {
  width: 1200px;
  margin: 0 auto;
}
.large-container .large-content .serve-show {
  margin-top: 1em;
  padding-top: 2em;
  background: #f5f5f5;
}
.large-container .large-content .serve-show .title {
  font-size: 1.5em;
}
.large-container .large-content .serve-show .title strong {
  color: rgba(255,0,0,0.8);
  padding-right: 1em;
}
.large-container .large-content .serve-show .clean .clean-list {
  font-size: 0;
  text-align: center;
}
.large-container .large-content .serve-show .clean .clean-list .clean-item {
  display: inline-block;
  font-size: 1rem;
  text-align: center;
}
